[Desktop Entry]
Type=Application
Exec=check_natron_update
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[fr_FR]=Natron Updates
Name=Natron Updates
Comment[fr_FR]=Vérifie les updates de Natron
Comment=Check Natron updates
